# Flutter/Dart related
.dart_tool/
.packages
.buildlog/
pubspec.lock

# Build outputs
build/
*.apk
*.aab
*.ipa

# IDEs
.idea/
.vscode/
*.iml

# Android specific
android/.gradle/
android/local.properties

# iOS specific
ios/Pods/
ios/.symlinks/
